/*
========================================================================================
    Test-specific config for FTP_FETCH_BBMAP_SAMPLE_FASTX module
========================================================================================
*/

process {
    withName: 'FTP_FETCH_BBMAP_SAMPLE_FASTX' {
        ext.args = ''
    }
}
