/*
========================================================================================
    Test-specific config for FTP_FETCH_BBMAP_REFORMAT_STANDARDISE module
========================================================================================
*/

process {
    withName: 'FTP_FETCH_BBMAP_REFORMAT_STANDARDISE' {
        ext.args = ''
    }
}
