/*
========================================================================================
    Test-specific config for FTP_FETCH_BBMAP_REFORMAT module
========================================================================================
*/

process {
    withName: 'FTP_FETCH_BBMAP_REFORMAT' {
        ext.args = ''
    }
}
