/*
========================================================================================
    Test-specific config for FTP_FETCH_FASTP module
========================================================================================
*/

process {
    withName: 'FTP_FETCH_FASTP' {
        ext.args = ''
    }
}
